*{
	margin:0;
	padding:0;
	list-style: none;
}
input:focus{
	outline:0;
}
body{
	/*background-color:grey;*/
}
/*header style begin*/
#todo-app{
	width:600px;
	margin:0 auto;
	margin-top:50px;
}
#app{
	border:1px solid gray;
}
#todo-app  h1{
	text-align: center;
	font-size:30px;
}
#todo-app #app .add-new-todo{
	width:578px;
	height:40px;
	font-size:25px;
	border:0px;
	border-bottom:3px solid #666;
	padding-left:20px;
	margin-bottom:20px;

}
#app .todo-items .item{
	border-bottom: 1px solid gray;
	height:40px;
	line-height:40px;
}
/*#app .todo-items .item-toggle{
	margin-top:5px;
}*/
#app .todo-items .item input{
	float:left;
	margin:14px 10px;
}
#app .todo-items .item .editItem{
	width:563px;;
	height:38px;
	font-size:25px;
	float:left;
	margin:0px;
}
#app .todo-items .item p{
	float:left;
	font-size:20px;
	width:565px;
	cursor: default;
}
#app .todo-items .item .del{
	margin-top:5px;
	margin-right:20px;
	display:none;
	float:right;

}
#app .footer{
	height:40px;
	line-height:40px;
}
#app .footer input{
	margin:0px 10px;
}
#app .footer .clearAll{
	float:right;
	margin-right:20px;
	margin-top:5px;
}